@import url('https://p.typekit.net/p.css?s=1&k=qmw2yid&ht=tk&f=51549&a=14822541&app=typekit&e=css');

:root {
    --shl-red-orange: #E44604;
    --shl-orange: #F4601B;
    --shl-pink: #FC618E;
    --shl-black: #000;
    --shl-white: #fff;
    --shl-ref-color-primary: var(--shl-red-orange);
    --shl-ref-color-secondary: var(--shl-pink);
    --shl-ref-color-tertiary: var(--shl-orange);
    --shl-ref-color-black: var(--shl-black);
    --shl-ref-color-white: var(--shl-white);
    --shl-ref-z-fix: 1000;
    --shl-ref-z-fix-header: 1010;
}

@font-face {
    font-family: 'degular-variable';
    src: url('https://use.typekit.net/af/b6f240/0000000000000000774b907b/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3') format('woff2'),url('https://use.typekit.net/af/b6f240/0000000000000000774b907b/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3') format('woff'),url('https://use.typekit.net/af/b6f240/0000000000000000774b907b/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3') format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 200 800;
    font-stretch:normal;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'degular-variable',sans-serif;
    font-variation-settings: 'ital' 0, 'wght' 200, 'opsz' 6;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-inline-start: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
}

.w-full {
    width: 100%;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}